POSTGRES_HOSTNAME=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

SECRET_KEY=

GEMINI_API_KEY=
GEMINI_MODEL=

GEMMA_DEPLOYMENT_URL=
GEMMA_MODEL=

COHERE_TRIAL_KEY=
COHERE_MODEL_NAME=

SARVAM_API_KEY=